.dropdown-container {
    position: relative;
}

.dropdown-menu {
    border: 1px solid #ccc;
    background: white;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #f0f0f0;
}

.dropdown-item.highlighted {
    background-color: #e0e0e0; /* Cor de fundo quando destacado */
}
